* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* lato-regular - latin */
@font-face {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url("/fonts/GeneralSans-Light.woff2") format("woff2"), url("/fonts/GeneralSans-Light.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("/fonts/GeneralSans-Regular.woff2") format("woff2"), url("/fonts/GeneralSans-Regular.woff2") format("woff");
}

html {
  font-size: 16px;
  font-family: 'General Sans', sans-serif;
}

body {
  word-wrap: break-word;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 0px) {
  body {
    overflow-x: hidden;
    position: relative;
  }
  .hamburger {
    z-index: 50;
  }
  header {
    position: absolute;
    z-index: 50;
    width: 100vw;
  }
  header.is-active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 50;
  }
  header nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0;
    padding: 1.2em;
    width: 100%;
    min-height: 75px;
  }
  header nav p {
    color: black;
    font-size: 1.2em;
  }
  header nav .logo-wrapper {
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    max-width: 200px;
  }
  header nav .logo-wrapper img {
    max-width: 100%;
    height: 100%;
  }
  header nav .nav-links {
    margin: 0;
    position: fixed;
    z-index: 100;
    right: 0px;
    height: 100vh;
    width: 80%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #18191a;
    list-style: none;
    padding: 2rem;
  }
  header nav .nav-links li {
    opacity: 1;
    padding: 0.5em 1em;
    text-align: center;
    font-weight: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.3em;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
  }
  header nav .nav-links li a {
    color: white;
    text-decoration: none;
  }
  header nav .nav-links li::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--main-primary-color);
    bottom: 0;
    position: absolute;
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
  header nav .nav-links li:hover::after {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  header nav .nav-links li.active::after {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  header nav .nav-links li:nth-child(1) {
    margin-top: -3em;
  }
  header nav .nav-links.is-active {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  header nav .nav-links .social-media {
    position: absolute;
    left: 1rem;
    top: 45%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav .nav-links .social-media img {
    width: 1.5rem;
    margin-bottom: var(--margin-md);
  }
  header nav .nav-btn {
    display: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header .navlinks-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
  }
  header .navlinks-overlay.is-active {
    -webkit-transform: translate(0%);
            transform: translate(0%);
    -webkit-animation: fadeIn 0.3s ease-in;
            animation: fadeIn 0.3s ease-in;
  }
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media (min-width: 768px) {
  header nav {
    height: 10vh;
    padding: 0.5em;
    width: 100%;
  }
  header nav .nav-links li {
    font-size: var(--font-sz-sm);
  }
}

@media (min-width: 1024px) {
  .body-fixed {
    position: unset !important;
  }
  .hamburger {
    display: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header {
    z-index: 5;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 6rem;
    width: 100vw;
  }
  header .is-active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 100;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 1em;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
  }
  header nav .logo-wrapper {
    width: 16%;
  }
  header nav .nav-links {
    margin: 0;
    position: relative;
    right: unset;
    height: auto;
    top: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: unset;
            transform: unset;
    -webkit-transition: unset;
    transition: unset;
    background-color: transparent;
    list-style: none;
    width: auto;
  }
  header nav .nav-links li {
    opacity: 1;
    padding: 0.5em;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: var(--font-sz-sm);
  }
  header nav .nav-links li:nth-child(1) {
    margin-top: 0em;
  }
  header nav .nav-links .social-media {
    display: none;
  }
  header .navlinks-overlay {
    display: none;
  }
}

@media (min-width: 1200px) {
  header {
    z-index: 5;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10rem;
    width: 100vw;
  }
  header .is-active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 100;
  }
  header nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  header nav .logo-wrapper {
    position: relative;
    width: 45%;
  }
  header nav .nav-links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[5];
        grid-template-columns: repeat(5, auto);
    grid-gap: 0.5rem;
    place-items: center;
  }
  header nav .nav-btn {
    display: block;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .nav-btn img {
    width: 1.2rem;
    position: absolute;
    right: 0.5rem;
  }
}

/* burger css */
.hamburger {
  position: relative;
  width: 40px;
  height: 52px;
  cursor: pointer;
  z-index: inherit;
  background-color: transparent;
  border: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger .hamburger-inner {
  width: 40px;
  height: 2px;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger .hamburger-inner::before, .hamburger .hamburger-inner::after {
  content: "";
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger .hamburger-inner:before {
  -webkit-transform: rotate(0deg) translate(0px, -4px);
          transform: rotate(0deg) translate(0px, -4px);
}

.hamburger .hamburger-inner:after {
  -webkit-transform: rotate(0deg) translate(0px, 4px);
          transform: rotate(0deg) translate(0px, 4px);
}

.hamburger.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate(0px, 0px);
          transform: rotate(-45deg) translate(0px, 0px);
}

.hamburger.is-active .hamburger-inner::after {
  -webkit-transform: rotate(45deg) translate(0px, 0px);
          transform: rotate(45deg) translate(0px, 0px);
}

@media (min-width: 0em) {
  footer {
    width: 100%;
    padding: var(--padding-xl) var(--padding-md);
    background-color: #222;
    z-index: 20;
    position: relative;
  }
  footer .container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "logo logo" "two three" "contact contact";
    grid-gap: 1rem;
  }
  footer .container .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem 0;
  }
  footer .container .col h3 {
    margin-bottom: 1rem;
    color: white;
  }
  footer .container .col ul {
    list-style: none;
  }
  footer .container .col ul li {
    margin-bottom: 0.5rem;
    color: white;
  }
  footer .container .col ul li a {
    text-decoration: none;
    color: white;
    overflow: auto;
  }
  footer .container .col ul li a:hover, footer .container .col ul li a:active {
    color: white;
    -webkit-text-decoration: 1px underline white;
            text-decoration: 1px underline white;
  }
  footer .container .col:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: two;
    padding: 1rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .container .col:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: three;
    padding: 1rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .container .logo-contain {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: logo;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .container .logo-contain img {
    width: 80%;
    max-width: 500px;
    height: 100%;
  }
  footer .container .contact {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: contact;
    background-color: var(--main-primary-color);
    border-radius: 1rem;
    padding: 1rem;
  }
  footer .container .contact h4 {
    color: white;
  }
  footer .container .contact ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container .contact ul li > div {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    margin-right: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container .contact ul li > div img {
    width: 1rem;
    height: 1rem;
  }
  footer .container .contact ul li p {
    color: white;
  }
  footer .container .contact ul li a {
    color: white;
    text-decoration: none;
  }
  footer .container .contact ul li a:hover, footer .container .contact ul li a:active {
    color: white;
  }
  .credit {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
    background-color: var(--main-primary-color);
    color: white;
    z-index: 20;
    position: relative;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  footer .container {
    width: 100%;
    max-width: 55em;
        grid-template-areas: "logo two three contact";
  }
  footer .container .logo-contain {
    padding: 0;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .container .logo-contain img {
    width: 200px;
    height: unset;
  }
  footer .container .col {
    padding-top: 0rem !important;
  }
}

@media (min-width: 1200px) {
  footer .container .logo-contain img {
    width: 250px;
    height: unset;
  }
  footer .container .col {
    padding-top: 0rem !important;
  }
}

.btn {
  cursor: pointer;
  padding: 15px 30px;
  background-color: var(--main-primary-color);
  border: 0;
  color: white;
  text-decoration: none;
  margin: var(--margin-sm);
  border-radius: 2em;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.btn:hover {
  opacity: .8;
}

.btn-primary {
  background-color: var(--main-primary-color);
}

@media (min-width: 0em) {
  .landing-overlap {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1em;
    place-items: center;
    background-color: white;
    padding: 0 1em;
    z-index: 2;
    margin-top: -5em;
  }
  .landing-overlap .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 350px;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    border-radius: 1em;
  }
  .landing-overlap .card .head {
    position: relative;
    width: 100%;
    height: 9em;
  }
  .landing-overlap .card .head picture {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .landing-overlap .card .head picture img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1em 1em 0 0;
  }
  .landing-overlap .card .body {
    padding: 1em;
  }
  .landing-overlap .card .body h3 {
    margin-bottom: var(--margin-md);
  }
  .landing-overlap .card .body p {
    line-height: 1.5;
    margin-bottom: var(--margin-md);
    font-size: .9em;
  }
  .landing-overlap .card .body a {
    color: var(--main-primary-color);
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .landing-overlap .card .body a p {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0;
  }
  .landing-overlap .card .body a img {
    margin-left: var(--margin-sm);
  }
}

@media (min-width: 768px) {
  .landing-overlap {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding: 0 1em;
    z-index: 2;
    margin-top: -5em;
  }
  .landing-overlap .card {
    max-width: unset;
  }
}

@media (min-width: 1024px) {
  .landing-overlap {
    margin-top: -6em;
  }
  .landing-overlap .card {
    max-width: unset;
  }
}
/*# sourceMappingURL=main.css.map */