@media(min-width: 0em) {
    #about {
        padding: 4em 1em;
        width: 100vw;

        .container {
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display: flex;
            flex-direction: column;

            .item {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 95%;
                max-width: 360px;
                align-self: flex-start;
                margin-left: 1em;

                .img-box {
                    height: 400px;
                    width: 100%;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        object-fit: cover;
                    }

                    &::before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: -1em;
                        left: -1em;
                        background-color: var(--main-primary-color);
                    }
                }

                .qual {
                    position: absolute;
                    right: 1em;
                    bottom: 1em;
                    background-color: var(--main-primary-color);
                    padding: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;

                    span {
                        font-size: 3em;
                        line-height: 1;
                        padding-right: .2em;
                    }

                    p {}
                }

            }

            .context {
                .header {
                    margin-top: 2em;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;

                    span {
                        color: var(--main-primary-color);
                        text-transform: uppercase;
                    }

                    h2 {
                        font-size: 2em;
                        text-transform: uppercase;
                        color: black;
                    }

                    .decor {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                        margin-bottom: 1em;

                        img {
                            width: 2em;
                            height: 2em;
                            margin-right: 1em;
                        }

                        .line {
                            width: 50%;
                            height: 1px;
                            background-color: var(--main-primary-color);
                        }
                    }

                    p {
                        line-height: 1.5;
                        margin-bottom: 1em;
                        max-width: 600px;
                    }
                }
            }
        }
    }

    #process {
        padding: 4em 1em;
        width: 100vw;

        .heading {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            margin-bottom: 3em;

            h2 {
                font-size: 2em;
            }

            span {
                // font-size: .8em;
                color: var(--main-primary-color);
            }
        }

        .container {
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 2em;

            .item {
                width: 100%;
                display: flex;
                flex-direction: column;

                .num {
                    border: 4px solid var(--main-primary-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 70%;
                    height: 10em;
                    margin-bottom: 1em;
                    border-radius: 5px;
                    position: relative;

                    &::before {
                        width: 2.5em;
                        height: 2.5em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--main-primary-color);
                        border-radius: 50%;
                        position: absolute;
                        content: attr(data-num);
                        right: -1.3em;
                        top: 25%;
                        color: white;
                        font-size: 1.5em;
                    }
                    img {
                        width: 3em;
                        height: 3em;
                    }
                }
                .text {
                    h3 {
                        font-size: 1.2em;
                        margin-bottom: .5em;
                    }
                }
            }
        }
    }

}

@media(min-width: 768px) {
    #about {
        .container {
            grid-gap: 1em;

            .item {
                align-self: start;
                width: 100%;
                margin-left: 1em;
            }
        }
    }
    #process {
        .container {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
}

@media(min-width: 1024px) {
    #about {

        .container {
            display: grid;
            grid-template-columns: 35% 65%;
            grid-gap: 1em;
            place-items: center;

            .item {
                align-self: start;
                margin: 0;
                width: 90%;

                .img-box {
                    height: 450px;

                    img {}
                }

            }

            .context {
                .header {
                    margin-top: 0;
                    padding-right: 1em;

                    span {}

                    h2 {}

                    .decor {
                        margin-bottom: 2.5em;

                        img {}

                        .line {}
                    }

                    p {
                        max-width: unset;
                    }
                }
            }
        }
    }
    #process {
        .container {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
        }
    }
}

@media(min-width: 1024px) {
    #about {

        .container {
            display: grid;
            grid-template-columns: 35% 65%;
            grid-gap: 2em;
            place-items: center;

            .item {
                align-self: start;
                margin: 0;
                width: 100%;

                .img-box {
                    height: 450px;

                    img {}
                }

            }

            .context {
                .header {
                    margin-top: 0;
                    padding-right: 0;

                    span {}

                    h2 {}

                    .decor {
                        margin-bottom: 2.5em;

                        img {}

                        .line {}
                    }

                    p {
                        max-width: unset;
                    }
                }
            }
        }
    }

}