@media (min-width: 0em) {
    .landing-overlap {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
        place-items: center;
        background-color: white;
        padding: 0 1em;
        z-index: 2;
        margin-top: -5em;
        padding-bottom: 4em;

        .card {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;
            max-width: 350px;
            box-shadow: var(--box-shadow);
            border-radius: 1em;

            .head {
                position: relative;
                width: 100%;
                height: 9em;

                picture {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    object-fit: cover;

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        object-fit: cover;
                        border-radius: 1em 1em 0 0;
                    }
                }
            }

            .body {
                padding: 1em;

                h3 {
                    margin-bottom: var(--margin-md);
                }

                p {
                    line-height: 1.5;
                    margin-bottom: var(--margin-md);
                    font-size: 0.9em;
                }

                a {
                    color: var(--main-primary-color);
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: max-content;

                    p {
                        width: max-content;
                        margin: 0;
                    }

                    img {
                        margin-left: var(--margin-sm);
                    }
                }
            }
        }
    }

    #intro {
        width: 100%;

        .container {
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: var(--padding-xl) var(--padding-md);

            .graphics {
                width: 100%;
                height: 100%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 3em;

                .pos {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 90%;
                    max-width: 400px;
                    height: 450px;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        position: absolute;
                    }

                    img.abs {
                        width: 100%;
                        height: 100%;
                        top: -1em;
                        left: -1em;
                        position: absolute;
                    }
                }
            }

            .content {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;

                span {
                    color: var(--main-primary-color);
                    margin-bottom: 0.2em;
                }

                h2 {
                    margin-bottom: var(--margin-sm);
                    font-size: 2em;
                }

                p {
                    line-height: 1.5;
                    margin-bottom: var(--margin-md);
                }

                .btns {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    a {
                        box-shadow: none;
                        margin: 0;
                    }

                    a:nth-child(2) {
                        border: 2px solid var(--main-primary-color);
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 1em;
                        background-color: transparent;
                        color: var(--main-primary-color);
                        margin-left: 0.5em;
                    }

                    // a:nth-child(2) {
                    //     background-color: white;
                    //     color: var(--main-primary-color);
                    // }
                }
            }
        }
    }

    #home-services {
        width: 100%;
        padding: var(--padding-xl) var(--padding-md);
        background-color: #dfece0;

        .heading {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            margin-bottom: 3em;

            h2 {
                font-size: 2em;
            }

            span {
                // font-size: .8em;
                color: var(--main-primary-color);
            }
        }

        .container {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1em;
            width: 100%;
            max-width: 1200px;
            margin: auto;

            .card {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                background-color: white;
                border-radius: 2em;
                padding: 1em;
                position: relative;
                z-index: 1;
                transition: all 0.5s;

                &>img {
                    width: 3em;
                    height: 3em;
                }

                &>div {
                    padding: 0.5em 0em 1em 1em;

                    h3 {
                        margin-bottom: 1em;
                    }

                    p {
                        line-height: 1.5;
                        font-size: 0.9em;
                        margin-bottom: 1em;
                    }

                    a {
                        color: var(--main-primary-color);
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: max-content;

                        p {
                            width: max-content;
                            margin: 0;
                        }

                        img {
                            margin-left: var(--margin-sm);
                        }
                    }
                }

                .hover-img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                        url(/assets/img04m.webp) center / cover;
                    transition: all 0.4s ease-in-out;
                    transform: scale(0.9);
                    opacity: 0;
                    visibility: hidden;
                    border-radius: 2em;
                }

                &:hover .hover-img {
                    transform: scale(1);
                    opacity: 1;
                    visibility: visible;
                }

                &:hover {

                    p,
                    h3 {
                        color: white;
                    }

                    a {
                        img {
                            filter: invert(100%);
                        }
                    }
                }
            }
        }
    }

    #small-contact {
        background: url(/assets/img05M.webp) center / cover;
        padding: var(--padding-xl) var(--padding-md);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 1200px;
        margin: auto;

        .heading {
            display: flex;
            // justify-content: center;
            // align-items: center;
            flex-direction: column;
            z-index: 2;
            // text-align: center;

            h2 {
                font-size: 1.5em;
                color: white;
                max-width: 600px;
                margin-bottom: 1em;
            }

            a {
                position: relative;
                z-index: 2;
                background-color: white;
                color: black;
                width: max-content;
                margin: 0;
            }
        }

        .overlay {
            width: 100%;
            height: 100%;
            background-color: var(--main-primary-color);
            top: 0;
            left: 0;
            position: absolute;
            opacity: 90%;
        }
    }

    #why {
        padding: var(--padding-xl) var(--padding-md);
        width: 100%;

        .container {
            width: 100%;
            max-width: 1200px;
            margin: auto;

            .heading {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin-bottom: 2em;

                span {
                    color: var(--main-primary-color);
                }

                h2 {
                    font-size: 2em;
                    margin-bottom: 0.4em;
                }

                p {
                    line-height: 1.5;
                }
            }

            .cards {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 1em;

                .card {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    box-shadow: var(--box-shadow);
                    padding: 1em;
                    max-width: 450px;
                    background-color: white;
                    text-align: center;
                    position: relative;

                    .circle {
                        background-color: var(--main-primary-color);
                        padding: 1em;
                        margin-bottom: 0.5em;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-content: center;

                        img {
                            width: 3em;
                            height: 3em;
                        }
                    }

                    h3 {
                        font-size: 1.5em;
                        margin-bottom: 0.3em;
                    }

                    p {
                        line-height: 1.5;
                    }

                    // &:hover {
                    //     content: "";
                    //     position: absolute;
                    //     width: 100%;
                    //     height: 100%;
                    //     top: 0;
                    //     left: 0;
                    //     right: 0;
                    //     bottom: 0;
                    //     background: linear-gradient(to right, #348e38 0%, #348e38 100%), linear-gradient(to top, #348e38 50%, transparent 50%), linear-gradient(to top, #348e38 50%, transparent 50%), linear-gradient(to right, #348e38 0%, #348e38 100%), linear-gradient(to left, #348e38 0%, #348e38 100%);
                    //     background-size: 100% 2px, 2px 200%, 2px 200%, 0% 2px, 0% 2px;
                    //     background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
                    //     background-repeat: no-repeat, no-repeat;
                    //     transition: transform 0.3s ease-in-out, background-position 0.3s ease-in-out, background-size 0.3s ease-in-out;
                    //     transform: scaleX(0) rotate(0deg);
                    //     transition-delay: 0.6s, 0.3s, 0s;
                    // }
                }
            }

            .graphic {
                display: none;
                visibility: hidden;
            }
        }
    }

    #home-gallery {
        width: 100%;
        padding: var(--padding-xl) var(--padding-md);
        background-color: #f6faf7;

        .heading {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            margin-bottom: 3em;

            h2 {
                font-size: 2em;
            }

            span {
                // font-size: .8em;
                color: var(--main-primary-color);
            }
        }

        .grid {
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1em;

            .item {
                position: relative;
                width: 100%;
                height: 250px;

                picture {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    #test {
        padding: var(--padding-xl) var(--padding-md) 15em var(--padding-md);
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(/assets/img10m.webp) center / cover;

        .container {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1em;

            .item {
                color: white;
            }

            h2 {
                span {
                    font-weight: bold;
                    font-size: 2em;
                    margin-right: 0.1em;
                }
            }

            p {
                line-height: 1.5;
            }
        }
    }

    #why-over {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        margin: auto;
        margin-top: -175px;
        background-color: white;
        box-shadow: var(--box-shadow);
        max-width: 700px;
        overflow: hidden;
        margin-bottom: 5em;


        .text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 2em;
            text-align: center;
            width: 100%;
            position: relative;

            span {
                color: var(--main-primary-color);
            }

            h2 {
                font-size: 1.5em;
                margin-bottom: 0.1em;
            }

            .swiper-container {
                margin: var(--margin-md) 0;
                // height: 375px;
                width: 100%;
                max-width: 400px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                & .swiper-wrapper {
                    display: flex;
                    position: relative;

                    .swiper-slide {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                    }

                    .swiper-1,
                    .swiper-2,
                    .swiper-3 {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .swiper-content {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            padding: 1em 2em;

                            .stars {
                                display: flex;
                                margin-bottom: 1em;

                                img {
                                    margin-right: 0.5em;
                                }
                            }

                            p {
                                line-height: 1.5;
                                padding-bottom: 1em;
                                max-width: 500px;
                                font-size: .9em;
                            }

                            .info {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding-top: 1em;
                                width: 100%;
                                max-width: 300px;

                                img {
                                    width: 3em;
                                    height: 3em;
                                }

                                &>div {
                                    display: flex;
                                    justify-content: center;
                                    align-items: flex-start;
                                    flex-direction: column;

                                    h4 {
                                        font-weight: bold;
                                        margin-bottom: 0.4em;
                                    }

                                    p {
                                        padding: 0;
                                        font-weight: lighter;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .swiper-next-custom {
                position: absolute;
                top: 50%;
                right: 1em;
                background-color: var(--main-primary-color);
                z-index: 10;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: var(--padding-sm);
                overflow: hidden;
                border-radius: 50%;

                img {
                    width: .6em;
                    height: .6em;
                }
            }

            .swiper-prev-custom {
                padding: var(--padding-sm);
                top: 50%;
                left: 1em;
                background-color: var(--main-primary-color);
                z-index: 10;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                position: absolute;
                overflow: hidden;
                border-radius: 50%;

                img {
                    width: .6em;
                    height: .6em;
                }
            }
        }


        .img-container {
            position: relative;
            height: 100%;
            display: none;

            img {
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (min-width: 768px) {
    .landing-overlap {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 1em;
        z-index: 2;
        margin-top: -5em;

        .card {
            max-width: unset;

            .head {
                picture {
                    img {}
                }
            }

            .body {
                h3 {}

                p {}

                a {
                    p {}

                    img {}
                }
            }
        }
    }

    #intro {
        width: 100%;

        .container {
            width: 100%;
            max-width: 1200px;
            display: grid;
            place-items: start;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;
            padding-top: 5em;

            .graphics {
                margin: 0;
                align-items: flex-start;

                .pos {
                    img {}

                    img.abs {}
                }
            }

            .content {
                span {}

                h2 {}

                p {}

                .btns {
                    a {}

                    a:nth-child(2) {}
                }
            }
        }
    }

    #home-services {
        .heading {
            h2 {}

            span {}
        }

        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;

            .card {
                &>img {}

                &>div {
                    h3 {}

                    p {}

                    a {
                        p {}

                        img {}
                    }
                }
            }
        }
    }

    #why {
        // position: relative;

        .container {
            .heading {
                span {}

                h2 {}

                p {}
            }

            .cards {
                grid-template-columns: 1fr 1fr;

                .card {
                    .circle {
                        img {}
                    }

                    h3 {}

                    p {}
                }
            }

            .graphic {
                img {}
            }
        }
    }

    #home-gallery {
        .heading {
            h2 {}

            span {}
        }

        .grid {
            grid-template-columns: 1fr 1fr;

            .item {
                picture {
                    img {}
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .landing-overlap {
        margin-top: -6em;

        .card {
            max-width: unset;

            .head {
                picture {
                    img {}
                }
            }

            .body {
                h3 {}

                p {}

                a {
                    p {}

                    img {}
                }
            }
        }
    }

    #intro {
        width: 100%;

        .container {
            place-items: start;
            grid-template-columns: 45% 55%;
            grid-gap: 0em;
            padding-top: 5em;

            .graphics {
                margin: 0;
                align-items: flex-start;

                .pos {
                    img {}

                    img.abs {}
                }
            }

            .content {
                span {}

                h2 {}

                p {}

                .btns {
                    a {}

                    a:nth-child(2) {}
                }
            }
        }
    }

    #home-services {
        .heading {
            h2 {}

            span {}
        }

        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;

            .card {
                padding: 1.5em;

                &>img {}

                &>div {
                    h3 {}

                    p {}

                    a {
                        p {}

                        img {}
                    }
                }
            }
        }
    }

    #small-contact {
        .heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 1000px;

            h2 {
                margin-bottom: 0;
            }
        }
    }

    #why {
        // position: relative;

        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5em;
            position: relative;

            .heading {
                justify-content: flex-start;

                span {}

                h2 {}

                p {}
            }

            .cards {
                grid-template-columns: repeat(3, 1fr);
                position: absolute;
                bottom: 1em;
                z-index: 2;
                max-width: 850px;

                .card {
                    max-width: 400px;

                    .circle {
                        img {}
                    }

                    h3 {}

                    p {}
                }
            }

            .graphic {
                display: block;
                visibility: visible;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 450px;
                height: 650px;
                z-index: 1;

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
            }
        }
    }

    #home-gallery {
        .heading {
            h2 {}

            span {}
        }

        .grid {
            grid-template-columns: 1fr 1fr 1fr;

            .item {
                height: 350px;

                picture {
                    img {}
                }
            }
        }
    }

    #test {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(/assets/img10.jpg) center / cover;

        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1em;
            margin: auto;
            max-width: 1200px;

            .item {}

            h2 {
                span {}
            }

            p {}
        }
    }

    #why-over {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        width: 90%;
        margin-top: -200px;
        max-width: 900px;

        .text {
            padding: 1em;
            span {}

            h2 {}

            p {}

            a {}
        }

        .img-container {
            display: block;
            position: relative;
            height: 100%;
            width: 100%;
            img {}

        }
    }
}

@media (min-width: 1200px) {
    #intro {
        width: 100%;

        .container {
            grid-template-columns: 40% 60%;

            .graphics {
                margin: 0;
                align-items: flex-start;

                .pos {
                    width: 80%;

                    img {}

                    img.abs {
                        left: -2em;
                        top: -2em;
                    }
                }
            }

            .content {
                span {}

                h2 {}

                p {}

                .btns {
                    a {}

                    a:nth-child(2) {}
                }
            }
        }
    }

    #home-services {
        padding-bottom: 10em;

        .heading {
            h2 {}

            span {}
        }

        .container {
            .card {
                &>img {}

                &>div {
                    h3 {}

                    p {}

                    a {
                        p {}

                        img {}
                    }
                }
            }
        }
    }

    #small-contact {
        margin-top: -5em;
        border-radius: 1em;
        background-attachment: fixed;

        .heading {
            h2 {}
        }

        .overlay {
            border-radius: 1em;
        }
    }
    #test {
        background-attachment: fixed;
    }
    #why {
        // position: relative;

        .container {
            .heading {
                span {}

                h2 {}

                p {}
            }

            .cards {
                grid-template-columns: repeat(3, 1fr);
                position: absolute;
                bottom: 1em;
                z-index: 2;
                max-width: 900px;

                .card {
                    max-width: 400px;
                    transition: all 0.5s;

                    .circle {
                        img {}
                    }

                    h3 {}

                    p {}

                    &:hover {
                        transform: translateY(-10px);
                    }
                }
            }

            .graphic {
                display: block;
                visibility: visible;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 450px;
                height: 650px;
                z-index: 1;
                justify-self: flex-end;

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
            }
        }
    }
}